header {
  text-align: center;
  color: white;
  font-family: Hack, hack, monospace;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 300px;
}

.container2 {
  display: flex;
  justify-content: center;
  height: 5vh;
}

html {
  background-color: #1e1e1e;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 10px 10px;
  color: #ffffff;
  font-family: "Your Preferred Font", sans-serif;
}

input {
  font-family: Hack, hack, monospace;
  font-size: 2.2em;
  border-radius: 10px;
  border: 2px solid white;
  background: black;
  color: white;
}

button {
  font-family: Hack, hack, monospace;
  font-size: 1.2em;
  border-radius: 10px;
  border: 2px solid white;
  background: black;
  color: white;
}